<div class="container-fluid">
  
	<!-- query form -->
	<div class="col-md-3 form-horizontal">
		<div class="form-group form-group-sm">
			<label for="search" class="col-sm-4 control-label">Search</label>
			<div class="col-sm-8">
				<input type="text" id="search" class="form-control" placeholder="project name" ng-model="query" autocomplete="off">
			</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="sort_by" class="col-sm-4 control-label">Sort By</label>
			<div class="col-sm-8">
				<select ng-model="orderProp" class="form-control" id="sort_by">
					<option value="name">Project name asc</option>
					<option value="-name">Project name desc</option>
					<option value="date_start">Live date asc</option>
					<option value="-date_start">Live date desc</option>
					<option value="date_end">End date asc</option>
					<option value="-date_end">End date desc</option>
				</select>
			</div>
		</div>
		
		<div class="form-group form-group-sm">
			<label for="archived" class="col-sm-4 control-label">Archived</label>
			<div class="col-sm-8">
				<checkbox id="archived" name="archived" ng-model="deletedFilter" class="btn-normal checkbox-form-control"></checkbox>
			</div>
		</div>	
		
		<div class="form-group form-group-sm">
			<div class="col-sm-8 pull-right">
				<a ng-href="#/project/add" id="add" class="btn btn-default btn-sm" role="button" edit-mode>ADD</a>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<div class="col-sm-8 pull-right">

				<project-import></project-import>
				<!--<input class="btn btn-default btn-sm" type="file" nv-file-select="" uploader="uploader" />-->
			</div>
		</div>
		
	</div>
	<!-- /query form -->
    
	<ul class="project-list col-md-8">
		<!---->
		<li id="projects" ng-repeat="project in projects | objectByKeyValFilter:'deleted':!deletedFilter | objectKeyContainsVal:'name':query  | orderObjectBy:orderProp" class="panel panel-primary">
			<div class="panel-heading"><h3>{{::project.name}} <archived the-style="archived-project" deleted="project.deleted" ></archived></h3></div>

			<div class="panel-body">
				<ul class="project-info col-md-6 list-group">
					<li class="list-group-item">Live date<span class="label label-success pull-right">{{::project.date_start | date:'EEE: yyyy-MM-dd'}}</span><li>
					<li class="list-group-item">End date<span class="label label-danger pull-right">{{::project.date_end | date:'EEE: yyyy-MM-dd'}}</span><li>
					<!-- li class="list-group-item">Creator<span class="label label-default pull-right">{{project.user_created_id}}</span><li -->
					<!-- li class="list-group-item">Last modified<span class="label label-default pull-right">{{project.date_modified | date:'yyyy-MM-dd'}}</span><li -->
					<deliverables project="project"></deliverables>
					<screen-codes project="project"></screen-codes>
				</ul>
				
				<div class="project-info col-md-6">
					<h5>Notes:</h5>
					<div class="truncate">{{::project.notes}}</div>
				</div>
			</div>
			
			<!-- utilities bar -->
			<div class="project-util panel-footer">
				<a ng-href="#/project/view/{{project.id}}" class="btn btn-default btn-sm" role="button">View</a>
				<a ng-href="#/project/edit/{{project.id}}" class="btn btn-default btn-sm" role="button" edit-mode>Edit</a>
				<a ng-href="#/project/copy/{{project.id}}" class="btn btn-default btn-sm" role="button" edit-mode>Copy</a>

				<project-export project="project"></project-export>
			</div>
			
		</li>
	</ul>
	
</div>